<h2 class="govuk-heading-m">Latest news</h2>
<ul class="news-listing news-listing--compact">
  {% for item in params.items %}
    <li class="news-listing__item">
      <picture>
        <!--[if IE 9]>
        <video style="display: none;>
          <![endif]-->
        <source media="(max-width: 320px)" srcset="{{ item.images.small }}" data-srcset="{{ item.images.small }}">
        <source media="(max-width: 768px)" srcset="{{ item.images.large }}" data-srcset="{{ item.images.large }}">
        <!--[if IE 9]>
            </video>
            <![endif]-->
        <!-- Fallback -->
        <img src="{{ item.images.large }}" alt="" role="presentation" aria-hidden="true">
      </picture>
      <a href="{{ item.href }}" aria-hidden="true" class="news-listing__item__image-link"></a>
      <div class="news-listing__item__caption">
        <div class="news-listing-meta"> {{ item.title }} | {{ item.date }} </div>
        <h3 class="news-listing-title">
          <a href="{{ item.href }}">{{ item.text }}</a>
        </h3>
      </div>
    </li>
  {% endfor %}
</ul>
<p>
  <a href="/news">Browse all news articles</a>
</p>